@import "/src/styles/mixins";

.forecast__list {
  max-width: 425px;
  margin: 0 auto;
}

.forecast__item {
  background-color: rgba(0, 0, 0, 0.25);

  border-radius: 10px;

  display: grid;

  grid-template-columns: auto 1fr auto;

  padding: 0.5rem;
  margin: 1rem 0;

  color: white;
}

.item__head {
  justify-self: left;
  align-self: center;

  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    .date__day {
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
    }

    .date__time {
      font-size: 0.8rem;
    }
  }
}

.item__body {
  display: flex;
  align-items: center;
  justify-self: left;

  .img {
    @include square-size(3.5rem);
  }

  .desc {
    font-size: 1rem;
  }
}

.item__tail {
  align-self: center;
  justify-self: center;

  table {
    td {
      padding: 0.2rem;
    }

    td:nth-of-type(2) {
      text-align: right;
    }
  }
}
