.page {
  background-color: #293241;
  overflow: auto;
  min-height: 100vh;
}

.grid-container {
  display: grid;

  width: 100%;
  margin: 0 auto;

  grid-column: 1fr;
}

.current-weather {
  background-color: rgba(0, 0, 0, 0.5);
}

.forecast {
  background-color: rgba(0, 0, 0, 0.5);
}
